<!-- todo/templates/account.html -->
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>アカウント</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="apple-touch-icon" href="/static/todo/apple-touch-icon.jpg" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-capable" content="yes">
    
    <link rel="manifest" href="{% static 'todo/manifest.json' %}">

    <link rel="icon" href="{% static 'todo/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'todo/main.css' %}">
</head>
<body>
    <h1>アカウント情報</h1>
    <p>ログイン中のユーザー: {{ user_name }}</p>
    <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">ログアウト</button>
    </form>

    <script>
        if ('serviceWorker' in navigator) {
          window.addEventListener('load', function() {
            navigator.serviceWorker.register('{% static "todo/service-worker.js" %}')
            .then(() => console.log('Service Worker registered!'))
            .catch(err => console.error('SW registration failed:', err));
          });
        }
      </script>
      
</body>
</html>
